* {
  background-color: Black;
}

h1 {
  color: White;
  text-align: center;
  font-size: 50px;
  font-weight: normal;
  font-family: Verdana, sans-serif;
}

.mainHeader {
  color: Aquamarine;
  text-align: center;
  font-size: 16px;
}

video {
  align-items: center;
}
p.video {
  text-align: center;
}
